*{
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  border: 1px solid red;
}

.child {
  display: flex;
  margin: 13px 9px;
}

button{
background-color: blue;
color: white;
border-radius: 4px;
}
label {
  font-size: 24px;
  font-weight: 800;
}

input{
  background-color: #fff;
}

.targ{
  margin: 25px 25px;
}
